@using AutoPro.Models
@model BusquedaPorMarcaViewModels
@{
    ViewBag.Title = "Busqueda Por Marca";
    UsuarioViewModel user = new UsuarioViewModel();
    if (HttpContext.Current.Session["User"] == null)
    {

        Response.Redirect(Url.Action("LogOffEvent", "Account"));

    }
    else
    {

        user = HttpContext.Current.Session["User"] as UsuarioViewModel;

    }
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Auto Pro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li><a href="/Compra/BusquedaPorModelo">Busqueda Modelo</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>


<section class="content">



    <div class="row">

        <div class="col-lg-12 col-xs-12">
            <!-- INICIO Cuadro azul con la info de los carros -->
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">Buscar vehiculo</h3>
                    <div class="row">
                        @using (Html.BeginForm("BusquedaPorModelo", "Compra", FormMethod.Post, new { role = "form", id = "busquedaid", enctype = "multipart/form-data" }))
                        {
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <select class="form-control select2" data-val="true" id="Busq_Modelo" name="Busq_Modelo" data-placeholder="Escriba un Modelo">
                                        <option value="-1"></option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button href="javascript:{}" onclick="document.getElementById('busquedaid').submit();" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        <button href="/Compra/BusquedaPorModelo" class="btn btn-default" onclick="goBack();"><i class="fa fa-reply"></i></button>
   
                                     </span>
                                    
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        }
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Filtrar carros en inventario
                            </label>
                        </div>
                    </div><!-- /.row -->
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box box-solid bg-aqua-active">
                <div class="box-header with-border">


                    <!-- CUADRO DE MARCAS -->
                    <div class="col-md-3">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Marcas</h3>

                            </div>
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <a href="javascript:{}" class=" filter" data-filter="all">
                                            Todos
                                            <span class="label label-primary pull-right">@Model.Total_Modelos</span>
                                        </a>
                                    </li>
                                    @foreach (var marca in Model.Lista_Marcas)
                                    {
                                        <li>
                                            <a href="javascript:{}" class=" filter" data-filter=".@marca.Marca.nombre">
                                                @marca.Marca.nombre
                                                <span class="label label-primary pull-right">@marca.Cant_Modelos</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                    <!-- FIN CUADRO DE MARCAS -->


                    <div class="col-md-9">
                        <div class="box box-solid ">
                            <div class="box-header with-border">
                                <h3 class="box-title">Modelos</h3>
                            </div>
                            <div id="container" class="box-body no-padding">

                                @foreach(var marca in Model.Lista_Marcas)
                                {
                                    foreach (var modelo in marca.Lista_Modelo)
                                    {
                                        var clase = "";
                                        if (modelo.Modelo.vehiculo.Where(x => x.concesionario.id_concesionario == user.id_Concesionario).Count() > 0)
                                        {
                                            clase = "mix " + @marca.Marca.nombre + " inv";
                                        }
                                        else
                                        {
                                            clase = "mix " + @marca.Marca.nombre;
                                        }
                                        <a class="@clase" href="/Compra/ConsultarModelo/@modelo.Modelo.id_modelo">
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <div class="box box-primary">
                                                        <div class="box-body box-profile">
                                                            <img style="width:100px;height:78px" class="profile-user-img img-responsive img-circle" src="@modelo.Modelo.imagen" alt="@modelo.Modelo.nombre">

                                                            <h3 class="profile-username text-center">@modelo.Modelo.modelo1</h3>

                                                            <p class="text-muted text-center">@modelo.Modelo.nombre</p>
                                                        </div>
                                                        <!-- /.box-body -->
                                                    </div>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                        </a>

                                    }

                                }

                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
    


</section>
<script src="~/Content/Template/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/Content/Mixitup/mixitup.min.js"></script>
<script>
    jQuery(window).load(function () {

        var mixer = mixitup("#container");

        $('#container').slimScroll({
            height: '500px'
        });

        $('#container').on('mixEnd', function () {
            $('#container').slimScroll({
                height: '500px'
            });
            $('#container').css({
                "position": "relative",
                "overflow": "hidden",
                "width":"auto"
            });
        });

        function formatRepo(repo) {
            if (repo.Image === undefined) return "Cargando...";

            var markup = "<div class='select2-result-repository clearfix'>" +
              "<div class='select2-result-repository__avatar'><img src='" + repo.Image + "' /></div>" +
              "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.Nombre + "</div>";

            if (repo.Descripcion) {
                markup += "<div class='select2-result-repository__description'>" + repo.Descripcion + "</div>";
            }

            markup += "<div class='select2-result-repository__statistics'>" +
              "<div class='select2-result-repository__forks'><i class='fa fa-folder-open-o'></i> " + repo.Nro_Inventario + " Inventario</div>" +
              "<div class='select2-result-repository__stargazers'><i class='fa  fa-cart-plus'></i> " + repo.Nro_Vendidos + " Vendidos</div>" +
              "<div class='select2-result-repository__watchers'><i class='fa fa-area-chart'></i> " + repo.Nro_Rezagados + " Rezagados</div>" +
            "</div>" +
            "</div></div>";

            return markup;
        }

        function formatRepoSelection(repo) {
            return repo.Nombre;
        }

        $("#Busq_Modelo").select2({
            ajax: {
                url: "/Compra/ObtenerModelos",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Lista_Modelo,
                        pagination: {
                            more: (params.page * 30) < data.Total_Modelos
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection


        });


    });

    function goBack() {
        window.history.back();
    }

</script>
