@using AutoPro.Models
@model BusquedaPorModeloViewModels
@{
    ViewBag.Title = "Busqueda por Modelo";
}


@if (HttpContext.Current.Session["Mensaje"] != null)
    {

        MensajeViewModels mensaje = HttpContext.Current.Session["Mensaje"] as MensajeViewModels;
        {

            HttpContext.Current.Session["Mensaje"] = null;
        }

        <!-- Modal -->
        <div class="modal fade @mensaje.Tipo_Modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">@mensaje.Titulo</h4>
                    </div>
                    <div class="modal-body">
                        @mensaje.Cuerpo
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    }
    
 @if (Model.Transaccion.Transaccion != null)
 {

        <!-- Modal -->
    <div class="modal fade-" id="Modal_transaccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Detalles de Transacción # @Model.Transaccion.Transaccion.id_compra</h4>
                </div>
                <div class="modal-body table-responsive">
                    <table id="tabla_transaccion" class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Vehiculo</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item_tr in Model.Transaccion.Lista_Vehiculo)
                            {
                                <tr>
                                    <td>@item_tr.id_vehiculo</td>
                                    <td>@item_tr.modelo.modelo1 @item_tr.modelo.nombre</td>
                                    <td><span class="label label-success">@item_tr.valor_compra.ToString("#,##0")</span></td>
                                    <td>
                                        @{
                                            var tipo_progress = "";
                                            if(item_tr.vehiculo_estado.factor == 10)
                                            {
                                                tipo_progress = "progress-bar-danger";
                                            }else if(item_tr.vehiculo_estado.factor == 30)
                                            {
                                                tipo_progress = "progress-bar-yellow";
                                            }
                                            else if (item_tr.vehiculo_estado.factor == 70)
                                            {

                                                tipo_progress = "progress-bar-info";
                                            }else{

                                                tipo_progress = "progress-bar-green";
                                            }   
                                        }
                                        <div class="progress progress-xs">
                                            <div class="progress-bar @tipo_progress" style="width:@item_tr.vehiculo_estado.factor%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <button onclick="eliminar_vehiculo(@item_tr.id_vehiculo);" id="vehiculo_@item_tr.id_vehiculo" type="button" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                    <table id="tabla_transaccion" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Total</th>
                                <th> </th>
                                <th> </th>
                                <th></th>
                                <th>$ @Model.Transaccion.Monto_Total.ToString("#,##0")</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    
                    <a href="/Compra/ConcretarTransaccion/@Model.Transaccion.Transaccion.id_compra" class="btn btn-success pull-left">Aceptar</a>
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

 }




<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @if(Model.Transaccion.Transaccion != null)
        {
          @:Transacción # @Model.Transaccion.Transaccion.id_compra
          <small>@Model.Transaccion.Transaccion.concesionario.nombre</small>  
        }else
        {
           @ViewBag.Title
           <small>Auto Pro</small>
        }

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row" style="height:150px">
        @using (Html.BeginForm("BusquedaPorModelo", "Compra", FormMethod.Post, new { role = "form", id = "busquedaid", enctype = "multipart/form-data" }))
        {
            <div class="col-lg-3 col-xs-3">

            </div>
        <!-- ./col -->
            <div class="row">
                <div class="col-lg-6 col-xs-6" align="center">
                    <!-- small box -->

                    <div class="input-group">
                        <select class="form-control select2" data-val="true" id="Busq_Modelo" name="Busq_Modelo" data-placeholder="Escriba un Modelo">
                            <option value="-1"></option>
                        </select>
                        <span class="input-group-btn">
                            <button href="javascript:{}" onclick="document.getElementById('busquedaid').submit();" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                </div>
            </div>
        <!-- ./col -->
            <div class="col-lg-3 col-xs-3">

            </div>
        <!-- ./col -->
        }
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <div class="col-lg-1 col-xs-1">

        </div>
        @if (Model.Transaccion.Transaccion != null)
        {
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- small box -->
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3>@Model.Nro_Marca</h3>
                                        <p>Marcas</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-model-s"></i>
                                    </div>
                                    <a href="/Compra/BusquedaPorMarca" class="small-box-footer">Buscar por marcas <i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-md-12">
                                <!-- small box -->
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3>@Model.Nro_Categoria</h3>
                                        <p>Categoria</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-ios-list-outline"></i>
                                    </div>
                                    <a href="/Compra/BusquedaPorCategoria" class="small-box-footer">Buscar por categoria <i class="fa fa-search"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- PRODUCT LIST -->
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Vehiculos en la Transacción</h3>
                                        
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <ul id="list_vehiculo" class="products-list product-list-in-box">
                                            @{
                                                
                                                foreach (var item_vehiculo in Model.Transaccion.Lista_Vehiculo)
                                                {
                                                    var image = item_vehiculo.modelo.imagen;
                                                    
                                                    if((item_vehiculo.imagen != null) && (item_vehiculo.imagen != ""))
                                                    {
                                                        image = item_vehiculo.imagen;
                                                    }

                                                    <li id="vel_@item_vehiculo.id_vehiculo" class="item">
                                                            <div class="product-img">
                                                                <img style="width:50px;height:50px" src="@image" alt="@item_vehiculo.modelo.nombre">
                                                            </div>
                                                            <div class="product-info">
                                                                <a href="javascript:void(0)" class="product-title">
                                                                    @item_vehiculo.modelo.modelo1
                                                                    <span class="label label-success pull-right">$@item_vehiculo.valor_compra.ToString("#,##0")</span>
                                                                </a>
                                                                <span class="product-description">
                                                                    @item_vehiculo.modelo.nombre
                                                                </span>
                                                            </div>
                                                    </li>

                                            }
                                                
                                                
                                                
                                            }
                                            
                                        </ul>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer clearfix">
                                        <a href="javascript:void(0)" onclick="modalopen();" class="btn btn-sm btn-info btn-flat pull-left">Concretar</a>
                                        <a href="/Compra/AnularTransaccion/@Model.Transaccion.Transaccion.id_compra" class="btn btn-sm btn-danger btn-flat pull-right">Anular</a>
                                    </div>
                                    <!-- /.box-footer -->
                                </div>

                            </div>
                        </div>
                    </div>
                
                </div>
              </div>

        }
        else
        {
            <div class="col-md-5">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.Nro_Marca</h3>
                        <p>Marcas</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-model-s"></i>
                    </div>
                    <a href="/Compra/BusquedaPorMarca" class="small-box-footer">Buscar por marcas <i class="fa fa-search"></i></a>
                </div>
            </div>
                <!-- ./col -->
            <div class="col-md-5">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.Nro_Categoria</h3>
                        <p>Categoria</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-list-outline"></i>
                    </div>
                    <a href="/Compra/BusquedaPorCategoria" class="small-box-footer">Buscar por categoria <i class="fa fa-search"></i></a>
                </div>
            </div>

        }






        
        
        <div class="col-lg-1 col-xs-1">

        </div>

        <!-- ./col -->
    </div>
    <!-- /.row (main row) -->
</section>
<!-- /.content -->

<script src="~/Content/Template/plugins/jQuery/jquery-2.2.3.min.js"></script>



<script>
    jQuery(window).load(function () {
        
        $('#myModal').modal('show');
        $('#list_vehiculo').slimScroll({
            height: '160px'
        });
        

        function formatRepo(repo) {
            if (repo.Image === undefined) return "Cargando...";

            var markup = "<div class='select2-result-repository clearfix'>" +
              "<div class='select2-result-repository__avatar'><img src='" + repo.Image + "' /></div>" +
              "<div class='select2-result-repository__meta'>" +
                "<div class='select2-result-repository__title'>" + repo.Nombre + "</div>";

            if (repo.Descripcion) {
                markup += "<div class='select2-result-repository__description'>" + repo.Descripcion + "</div>";
            }

            markup += "<div class='select2-result-repository__statistics'>" +
              "<div class='select2-result-repository__forks'><i class='fa fa-folder-open-o'></i> " + repo.Nro_Inventario + " Inventario</div>" +
              "<div class='select2-result-repository__stargazers'><i class='fa  fa-cart-plus'></i> " + repo.Nro_Vendidos + " Vendidos</div>" +
              "<div class='select2-result-repository__watchers'><i class='fa fa-area-chart'></i> " + repo.Nro_Rezagados + " Rezagados</div>" +
            "</div>" +
            "</div></div>";

            return markup;
        }

        function formatRepoSelection(repo) {
            return repo.Nombre;
        }

        $("#Busq_Modelo").select2({
            ajax: {
                url: "/Compra/ObtenerModelos",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Lista_Modelo,
                        pagination: {
                            more: (params.page * 30) < data.Total_Modelos
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection


        });

        $('#tabla_transaccion').DataTable({
            "paging": false,
            "ordering": false,
            "searching": true,
            "scrollY": "200px",
            "language":{
                "search": "Buscar:",
                searchPlaceholder: "Ingrese el criterio...",
                "info": "Mostrando un total de _TOTAL_ entradas"
            }

        });





    });

    function goBack() {
        window.history.back();
    }

    function modalopen() {
        $('#Modal_transaccion').modal('show');

    }

    function eliminar_vehiculo(id_vehiculo)
    {
        var LocalidadOptions = {};
        LocalidadOptions.url = "/Compra/EliminarVehiculoTransaccion";
        LocalidadOptions.type = "POST";
        LocalidadOptions.data = JSON.stringify({ id: id_vehiculo });
        LocalidadOptions.datatype = "json";
        LocalidadOptions.contentType = "application/json";
        LocalidadOptions.success = function (data) {
            if (data != undefined) {

                if(data == "OK")
                {
                    var elemento = "vehiculo_"+ id_vehiculo;
                    var elemento2 = "vel_"+id_vehiculo;
                    var element1 = document.getElementById(elemento).parentElement.parentElement;
                    element1.parentElement.removeChild(element1);
                    var element = document.getElementById(elemento2);
                    element.parentElement.removeChild(element);
                    alert("Vehículo # "+ id_vehiculo + " Ha sido eliminado.")

                }else if(data == "Mas Tarde")
                {
                    alert("Error en la Operación. Intente más tarde");

                }else if(data == "No Existe")
                {
                    alert("Error en la Operación. el vehiculo no existe");

                }else if(data == "OK Todos")
                {
                    window.location.replace("/Home/");

                }else{

                    alert("No se puede concretar la operación, intente mas tarde"+ data )
                }


                var minimo = data.Valor_Minimo.toFixed(0) + '<sup style="font-size: 20px">USD</sup>';
                var maximo = data.Valor_Maximo.toFixed(0) + '<sup style="font-size: 20px">USD</sup>';
                document.getElementById("MontoMinimo").innerHTML = minimo;
                document.getElementById("MontoMaximo").innerHTML = maximo;

            } else {
                alert("Error al eliminar, Intente mas Tarde "+ data)
            }

        };
        LocalidadOptions.error = function () { alert("Error al eliminar vehiculo."); };
        $.ajax(LocalidadOptions);

    }



</script>












