@using AutoPro.Models
@model ReporteEmpleadosViewModels
@{
    ViewBag.Title = "Reporte de Empleados";
    UsuarioViewModel user = new UsuarioViewModel();
    if (HttpContext.Current.Session["User"] != null)
    {
        user = HttpContext.Current.Session["User"] as UsuarioViewModel;
    }
    else
    {

        user = HttpContext.Current.Session["User"] as UsuarioViewModel;

    }
    
}

<section class="content-header">
    <h1 id="titulo_preventa">
        @ViewBag.Title

        <small>@user.Concesionario</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="/Administración/">Administración</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">

        <div class="col-lg-4 col-xs-4">
            <!-- Date and time range -->
            <div class="form-group">
                <label>Filtro por Periodos</label>
                <div class="input-group">
                    <button type="button" class="btn btn-default" id="daterange-btn">
                        <span>
                            <i class="fa fa-calendar"></i> Rango de Fecha
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <button type="button" href="javascript:{}" id="boton_rango_fecha" class="btn btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /.form group -->
        </div>

        <div class="col-lg-4 col-xs-4">
            <!-- Date and time range -->
            <div class="form-group">
                <label>Rango Consultados</label>
                <div class="input-group">
                    <h3>@Model.Rango_de_Consulta</h3>
                </div>
            </div>
            <!-- /.form group -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box-body">
                <div class="callout callout-info">
                    <h4>Vendedores</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-2">

            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.Vendedor_Venta_Total</h3>

                        <p>Ventas</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <a href="javascript:{}" class="small-box-footer">
                        Totales <i class="fa fa-info"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.Vendedor_Comision_Total.ToString("#,##0.00") <sup style="font-size: 20px">USD</sup></h3>

                        <p>Comisiones</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <a href="javascript:{}" class="small-box-footer">
                        Totales <i class="fa fa-info"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-2">

            </div>


        </div>

        <div class="row margin">
            <div class="col-lg-8 col-md-8 col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Top 5 vendedores</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Posición</th>
                                <th>Vendedor</th>
                                <th>Cantidad</th>
                                <th>Comisión total</th>
                            </tr>
                            @for (int i = 0; i < Model.Lista_Top_Vendedores.Count(); i++)
                            {
                                <tr>
                                    <td>@(i+1)</td>
                                    <td>@Model.Lista_Top_Vendedores[i].Nombre</td>
                                    <td>@Model.Lista_Top_Vendedores[i].Cant_Ventas</td>
                                    <td>@Model.Lista_Top_Vendedores[i].Monto_Total.ToString("#,##0.00") <sup style="font-size: 10px">USD</sup></td>
                                </tr>
                            }
                            
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <!-- DONUT CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Relación Top</h3>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="chart_venta" style="height: 250px; position: relative;">


                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
        
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box-body">
                <div class="callout callout-warning">
                    <h4>Financistas</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-2">

            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.Financista_Venta_Total</h3>

                        <p>Tratos</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <a href="javascript:{}" class="small-box-footer">
                        Totales <i class="fa fa-info"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.Financista_Comision_Total.ToString("#,##0.00") <sup style="font-size: 20px">USD</sup></h3>

                        <p>Comisiones</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <a href="javascript:{}" class="small-box-footer">
                        Totales <i class="fa fa-info"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-2">

            </div>


        </div>

        <div class="row margin">
            <div class="col-lg-8 col-md-8 col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Top 5 financistas</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Posición</th>
                                <th>Financista</th>
                                <th>Cantidad</th>
                                <th>Comisión total</th>
                            </tr>
                            @for (int i = 0; i < Model.Lista_Top_Financista.Count(); i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.Lista_Top_Financista[i].Nombre</td>
                                    <td>@Model.Lista_Top_Financista[i].Cant_Ventas</td>
                                    <td>@Model.Lista_Top_Financista[i].Monto_Total.ToString("#,##0.00") <sup style="font-size: 10px">USD</sup></td>
                                </tr>
                            }

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <!-- DONUT CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Relación Top</h3>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="chart_financista" style="height: 250px; position: relative;">


                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="box-body">
                <div class="callout callout-success">
                    <h4>Compradores</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-2">

            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.Comprador_Compra_Total</h3>

                        <p>Compras</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a href="javascript:{}" class="small-box-footer">
                        Totales <i class="fa fa-info"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.Monto_Total_Compra.ToString("#,##0.00") <sup style="font-size: 20px">USD</sup></h3>

                        <p>Monto Global</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <a href="javascript:{}" class="small-box-footer">
                        Totales <i class="fa fa-info"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-2">

            </div>


        </div>

        <div class="row margin">
            <div class="col-lg-8 col-md-8 col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Top 5 compradores</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <tr>
                                <th>Posición</th>
                                <th>Comprador</th>
                                <th>Cantidad</th>
                                <th>Ganancias Generadas</th>
                            </tr>
                            @for (int i = 0; i < Model.Lista_Top_Compradores.Count(); i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.Lista_Top_Compradores[i].Nombre</td>
                                    <td>@Model.Lista_Top_Compradores[i].Cant_Ventas</td>
                                    <td>@Model.Lista_Top_Compradores[i].Monto_Total.ToString("#,##0.00") <sup style="font-size: 10px">USD</sup></td>
                                </tr>
                            }

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <!-- DONUT CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Relación Top</h3>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="chart_comprador" style="height: 250px; position: relative;">


                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>

    </div>

</section>

<!-- jQuery 2.2.3 -->
<script src="~/Content/Template/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>

    jQuery(window).load(function () {

        var colores= [["#3c8dbc"],["#3c8dbc", "#f56954"],["#3c8dbc", "#f56954", "#00a65a"],["#3c8dbc", "#f56954", "#00a65a", "#FFFF00"],["#3c8dbc", "#f56954", "#00a65a", "#FFFF00", "#550077"]];

        //DONUT CHART
        var donut_venta = new Morris.Donut({
            element: 'chart_venta',
            resize: true,
            colors: colores[@Model.Lista_Top_Vendedores.Count()],
            data: [
                @foreach(var item in Model.Lista_Top_Vendedores)
                {
                    @:{ label: "@item.Nombre", value: @item.Cant_Ventas },
                }
            ],
            hideHover: 'auto'
        });

        //DONUT CHART
        var donut_financista = new Morris.Donut({
            element: 'chart_financista',
            resize: true,
            colors: colores[@Model.Lista_Top_Financista.Count()],
            data: [
                @foreach (var item in Model.Lista_Top_Financista)
        {
            @:{ label: "@item.Nombre", value: @item.Cant_Ventas },
            }
    ],
        hideHover: 'auto'
        });

        //DONUT CHART
        var donut_comprador = new Morris.Donut({
            element: 'chart_comprador',
            resize: true,
            colors: colores[@Model.Lista_Top_Compradores.Count()],
            data: [
                @foreach (var item in Model.Lista_Top_Compradores)
        {
            @:{ label: "@item.Nombre", value: @item.Cant_Ventas },
            }
    ],
        hideHover: 'auto'
    });
        
        var FechaInicio;
        var FechaFin;

        $('#daterange-btn').daterangepicker(
        {
            ranges: {
                'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                'Ultimos 30 dias': [moment().subtract(29, 'days'), moment()],
                'Mes Actual': [moment().startOf('month'), moment().endOf('month')],
                'Mes Pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Ultimos 3 Meses': [moment().subtract(3, 'month').startOf('month'), moment()],
                'Ultimos 6 Meses': [moment().subtract(6, 'month').startOf('month'), moment()],
                'Año Actual': [moment().startOf('year'), moment()],
                'Año Pasado': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate: moment()
        },
        function (start, end) {
            $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            FechaInicio = start;
            FechaFin = end;
        }
    );

        $('#boton_rango_fecha').click(function(){

            //alert("Start: "+ FechaInicio);
            //alert("End:" + FechaFin.format('YYYY-MM-DD'));
            var f_inicio = FechaInicio.format('YYYY-MM-DD');
            var f_fin = FechaFin.format('YYYY-MM-DD');

            var dataurl = "/Administracion/Reporte_Empleados/?fecha_inicio="+f_inicio+"&fecha_fin="+f_fin;
            window.location.replace(dataurl);

        });







    });


    function goBack() {
        window.history.back();
    }





</script>

