@using AutoPro.Models
@model HistorialComisionViewModels
@{
    ViewBag.Title = "Historial de Comisión";
}

@if (Model.Lista_Transaccion != null)
{

    foreach (var trans in Model.Lista_Transaccion)
    {
        <div class="modal fade" id="Trans_Detalles_@trans.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Detalles de Trasansaccion # @trans.id</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12 col-xs-12">
                            <div class="row margin">
                                <ul class="products-list product-list-in-box list-vehiculo">
                                    @foreach (var auto in trans.Lista_Vehiculos)
                                    {
                                        <li class="item">
                                            <div class="product-img">
                                                <img src="@auto.Imagen" alt="@auto.Nombre">
                                            </div>
                                            <div class="product-info">
                                                <a href="javascript:void(0)" class="product-title">
                                                    @auto.Nombre
                                                    <span class="label label-success pull-right">@auto.Comision.ToString("#,##0") USD</span>
                                                </a>
                                                <span class="product-description">
                                                    @auto.Marca - @auto.Año - Cod. @auto.id
                                                </span>
                                            </div>
                                        </li>
                                    <!-- /.item -->

                                    }
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}



<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>Auto Pro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Ventas</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <!-- row -->
    <div class="row">

        <div class="col-lg-4 col-xs-4">
            <!-- Date and time range -->
            <div class="form-group">
                <label>Filtro por Periodos</label>
                <div class="input-group">
                    <button type="button" class="btn btn-default" id="daterange-btn">
                        <span>
                            <i class="fa fa-calendar"></i> Rango de Fecha
                        </span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <button type="button" href="javascript:{}" id="boton_rango_fecha"  class="btn btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /.form group -->
        </div>
    </div>
        <div class="row">

            <div class="col-lg-6 col-md-6 col-xs-12">

                <!-- The time line -->
                <div id="time_comision" class="row margin carga">
                    <div style=" position:relative" class="cargando"></div>
                    <ul class="timeline">
                        <li>
                            <i class="fa fa-clock-o bg-aqua-active"></i>
                            <div class="timeline-body">
                                <br />
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-money bg-green"></i>

                            <div class="timeline-item">
                                <!--<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>-->

                                <h3 class="timeline-header"><a href="#">Total Comision:</a> @Model.Monto_Total.ToString("#,##0") <sup style="font-size: 8px">USD</sup> </h3>

                                <div class="timeline-body">
                                    Periodo a consultado: @Model.Fecha_Inicial.ToShortDateString() a @Model.Fecha_Final.ToShortDateString()
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-line-chart bg-orange"></i>

                            <div class="timeline-item">
                                <!--<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>-->

                                <h3 class="timeline-header"><a href="#">Total de Ventas:</a> @Model.Total_Ventas</h3>

                                <div class="timeline-body">
                                    Periodo a consultado: @Model.Fecha_Inicial.ToShortDateString() a @Model.Fecha_Final.ToShortDateString()
                                </div>
                            </div>
                        </li>
                        <!-- timeline time label -->
                        @{
                            var agrupacion_dia = Model.Lista_Transaccion.GroupBy(x => new { x.Fecha.Year, x.Fecha.Month, x.Fecha.Day });

                            foreach (var item_trans in agrupacion_dia)
                            {
                                <li class="time-label">
                                    <span class="bg-red">
                                        @item_trans.First().Fecha.ToShortDateString()
                                    </span>
                                </li>
                                foreach (var trans_i in item_trans)
                                {

                                    <li>
                                        <i class="fa fa-cubes bg-yellow"></i>

                                        <div class="timeline-item">
                                            <!--<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>-->

                                            <h3 class="timeline-header"><a href="#">Transaccion de Venta #</a> @trans_i.id</h3>

                                            <div class="timeline-body">
                                                @trans_i.Monto_Total.ToString("#,##0") <sup style="font-size: 8px">USD</sup>   <i class="fa  fa-money bg-green"></i>
                                            </div>
                                            <div class="timeline-footer">
                                                <a href="javascript:{}" onclick="AbrirDetalles(@trans_i.id);" class="btn btn-primary btn-xs">Más información</a>
                                            </div>
                                        </div>
                                    </li>
                                }

                            }


}

                       

                        <!-- END timeline item -->
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>

                    </ul>

                </div>

            </div>
            <!-- /.col -->
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right">
                        <li><a href="#r-comision-chart" data-toggle="tab">Resumen</a></li>
                        <li class="active"><a href="#g-comision-chart" data-toggle="tab">Relación Mensual</a></li>
                        <li class="pull-left header"><i class="fa fa-inbox"></i> Comision</li>
                    </ul>
                    <div class="tab-content no-padding">
                        <!-- Morris chart - Sales -->
                        <div class="chart tab-pane" id="r-comision-chart" style="position: relative; height: 400px;">
                            <div id="i-r-comision-chart" class="row margin">
                                <div class="col-lg-12 col-xs-12">
                                    <!-- small box -->
                                    @if (Model.Tipo_Comision == 1)
                                    {
                                        <div class="small-box bg-aqua">
                                            <div class="inner">
                                                <h3>@Model.Valor_Comision_Fijo <sup style="font-size: 10px">%</sup></h3>
                                                <p>Porcentaje Fijo</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-stats-bars"></i>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="small-box bg-aqua">
                                            <div class="inner">
                                                <h3>@Model.Valor_Comision_Fijo <sup style="font-size: 10px">USD</sup></h3>
                                                <p>Monto Fijo</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-stats-bars"></i>
                                            </div>
                                        </div>

                                    }
                                    
                                </div>
                                @if (Model.Comision_30_dias != 0)
                                {
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-green">
                                            <div class="inner">
                                                <h3>@Model.Comision_30_dias.ToString("#,##0") <sup style="font-size: 10px">USD</sup></h3>
                                                <p>Ultimos 30 <sup style="font-size: 10px">Dias</sup></p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-cash"></i>
                                            </div>
                                        </div>
                                    </div>

                                }
                                
                                @if (Model.Comision_3_Mes != 0)
                                {
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-green">
                                            <div class="inner">
                                                <h3>@Model.Comision_3_Mes.ToString("#,##0") <sup style="font-size: 10px">USD</sup></h3>
                                                <p>Ultimos 3 <sup style="font-size: 10px">Meses</sup></p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-cash"></i>
                                            </div>
                                        </div>
                                    </div>

                                }
                                
                                @if (Model.Comision_1_Año != 0)
                                {
                                    <div class="col-lg-12 col-xs-12">
                                        <!-- small box -->
                                        <div class="small-box bg-green">
                                            <div class="inner">
                                                <h3>@Model.Comision_1_Año.ToString("#,##0") <sup style="font-size: 10px">USD</sup></h3>
                                                <p>Ultimo Año</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-cash"></i>
                                            </div>
                                        </div>
                                    </div>

                                }
                                
                                
                                <div class="col-lg-12 col-xs-12">
                                    <!-- small box -->
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3>@Model.Comision_Total.ToString("#,##0") <sup style="font-size: 10px">USD</sup></h3>
                                            <p>Total</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-cash"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="chart tab-pane active" id="g-comision-chart" style="position: relative; height: 400px;"></div>
                    </div>
                </div>





            </div>
        </div>
    <!-- /.row -->
    <!-- /.row -->

</section>

<script src="~/Content/Template/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    jQuery(window).load(function () {
        "use strict";
        
        $(document).ajaxStart(function()
        {
            $('#time_comision').addClass("carga_proceso");
        });


        $(document).ajaxStop(function()
        {
            $('#time_comision').removeClass("carga_proceso");
        });
        
        $('#i-r-comision-chart').slimScroll({
            height: '400px'
        });


        $('#time_comision').slimScroll({
            height: '903px'
        });
        var FechaInicio;
        var FechaFin;

        $('#daterange-btn').daterangepicker(
        {
            ranges: {
                'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
                'Ultimos 30 dias': [moment().subtract(29, 'days'), moment()],
                'Mes Actual': [moment().startOf('month'), moment().endOf('month')],
                'Mes Pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Ultimos 3 Meses': [moment().subtract(3, 'month').startOf('month'), moment()],
                'Ultimos 6 Meses': [moment().subtract(6, 'month').startOf('month'), moment()],
                'Año Actual': [moment().startOf('year'), moment()],
                'Año Pasado': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate: moment()
        },
        function (start, end) {
            $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            FechaInicio = start;
            FechaFin = end;
        }
    );

        //$('#daterange-btn').on('apply.daterangepicker', function (ev, picker) {
        //    //Eventos
        //    //alert("Start: "+ picker.startDate);
        //    //alert("End:" + picker.endDate.format('YYYY-MM-DD'))

        //});

        $('#boton_rango_fecha').click(function(){
            
            //alert("Start: "+ FechaInicio);
            //alert("End:" + FechaFin.format('YYYY-MM-DD'));
            var f_inicio = FechaInicio.format('YYYY-MM-DD');
            var f_fin = FechaFin.format('YYYY-MM-DD');

            var dataurl = "/Venta/HistorialComisionConsulta/?fecha_inicio="+f_inicio+"&fecha_fin="+f_fin;
            //alert("Link: " + dataurl);
            $.ajax({
                url: dataurl
            }).done(function (data) {
                // Al div con id todos le pone como
                // contenido la partial view recibida (data)
                $('#time_comision').html(data);
                //Cargar ventana time line
                $('#time_comision').slimScroll({
                    height: '903px'
                });
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("Error: " + errorThrown);


            });



        });
        
        @if(Model.Lista_Comision_Grafico != null)
        {
            @:var line = new Morris.Line({
            @:element: 'g-comision-chart',
            @:resize: true,
            @:data: [
            foreach(var item_graf in Model.Lista_Comision_Grafico)
            {
                @:{ y: '@item_graf.Fecha_F', item1: @item_graf.Monto_Acumulado },
            }
            @:],
            @:xkey: 'y',
            @:ykeys: ['item1'],
            @:labels: ['Comision'],
            @:lineColors: ['#008bbf'],
            @:hideHover: 'auto',
            @:yLabelFormat: function (y) { return y.toString() + ' USD'; }
        @:});

        //Fix for charts under tabs
        @:$('.box ul.nav a').on('shown.bs.tab', function () {

            @:line.redraw();
        @:});
        }

       



    });

    function AbrirDetalles(id)
    {

        $("#Trans_Detalles_" + id).modal('show');
    }


</script>

