@using AutoPro.Models
@model Marcas_CategoriaViewModels
@{
    ViewBag.Title = "Prueba";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        SECCION
        <small>SUB</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row margin">
        <div class="col-lg-12 col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group">


                        <div class="row">


                            <div class="col-lg-3 col-xs-3">

                            </div>
                            <!-- ./col -->
                            <div class="col-lg-6 col-xs-6">
                                <!-- small box -->
                                <!-- ESTA ES LA BARRA ARREGLADA NO SE SI LO QUE AGARRE PARA CONVERTIRLA EN INPUT ESTA BIEN REVISALO
                                DE TODAS MANERAS CUANDO LO PEGUES A VER -->
                                HOLA


                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-xs-3">

                            </div>
                            <!-- ./col -->

                        </div>





                    </div>
                </div>
                <!-- /.box-header -->
                <div id="ventana_cambio" class="box-body no-padding">
                    @if ((Model.Lista_Categoria.Count() > 0) && (Model.Lista_Marcas.Count() > 0))
                    {
                        <div class="row">

                            <div class="col-md-6">
                                <div class="box box-widget ">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">MARCAS</h3>
                                    </div>
                                    <div class="box-body">
                                        <div id="marcas_div" class="row">
                                            @foreach (var item in Model.Lista_Marcas)
                                            {
                                                <a data-url="/Venta/Prueba2/@item.Marca.id_marca?tipo=1&id_cliente=@Model.id_cliente" href="javascript:{}">
                                                    <div class="col-md-12">
                                                        <div class="box box-widget widget-user-2">
                                                            <div class="widget-user-header bg-yellow">
                                                                <div class="widget-user-image">
                                                                    <img class="img-circle" src="@item.Marca.logo" alt="@item.Marca.nombre">
                                                                </div>
                                                                <!-- /.widget-user-image -->
                                                                <h3 class="widget-user-username">@item.Marca.nombre</h3>
                                                                <h5 class="widget-user-desc"></h5>
                                                            </div>
                                                            <div class="box-footer no-padding">
                                                                <ul class="nav nav-stacked">
                                                                    <li><a href="javascript:{}">Inventario <span class="pull-right badge bg-aqua-active">@item.Nro_Inventario</span></a></li>
                                                                    <li><a href="javascript:{}">Preferencia <span class="pull-right badge bg-green">@item.Nivel_Preferencia%</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </a>


                                            }
                                        </div>




                                    </div>

                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="box box-widget">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">CATEGORIAS</h3>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div id="cat_div" class="row margin">
                                            @foreach (var item in Model.Lista_Categoria)
                                            {
                                                <a data-url="/Venta/Prueba2/@item.Categoria.id_clasificacion?tipo=2&id_cliente=@Model.id_cliente" href="javascript:{}">
                                                    <div class="col-md-12">
                                                        <div class="box box-widget widget-user-2">
                                                            <div class="widget-user-header bg-aqua">
                                                                <div class="widget-user-image">
                                                                    <img class="img-circle" src="@item.Categoria.logo" alt="@item.Categoria.descripcion">
                                                                </div>
                                                                <!-- /.widget-user-image -->
                                                                <h3 class="widget-user-username">@item.Categoria.descripcion</h3>
                                                                <h5 class="widget-user-desc"></h5>
                                                            </div>
                                                            <div class="box-footer no-padding">
                                                                <ul class="nav nav-stacked">
                                                                    <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">@item.Nro_Inventario</span></a></li>
                                                                    <li><a href="#">Preferencia <span class="pull-right badge bg-green">@item.Nivel_Preferencia%</span></a></li>

                                                                </ul>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </a>


                                            }



                                        </div>



                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>

                        </div>

                    }
                    else if (Model.Lista_Marcas.Count() > 0)
                    {
                        <div class="row">

                            <div class="col-md-3">

                                <!-- /.box -->
                            </div>

                            <div class="col-md-6">
                                <div class="box box-widget ">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">MARCAS</h3>
                                    </div>
                                    <div class="box-body">
                                        <div id="marcas_div" class="row">
                                            @foreach (var item in Model.Lista_Marcas)
                                            {
                                                <a data-url="/Venta/ListaModelos/@item.Marca.id_marca?tipo=1&id_cliente=@Model.id_cliente" href="javascript:{}">
                                                    <div class="col-md-12">
                                                        <div class="box box-widget widget-user-2">
                                                            <div class="widget-user-header bg-yellow">
                                                                <div class="widget-user-image">
                                                                    <img class="img-circle" src="@item.Marca.logo" alt="@item.Marca.nombre">
                                                                </div>
                                                                <!-- /.widget-user-image -->
                                                                <h3 class="widget-user-username">@item.Marca.nombre</h3>
                                                                <h5 class="widget-user-desc"></h5>
                                                            </div>
                                                            <div class="box-footer no-padding">
                                                                <ul class="nav nav-stacked">
                                                                    <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">@item.Nro_Inventario</span></a></li>
                                                                    <li><a href="#">Preferencia <span class="pull-right badge bg-green">@item.Nivel_Preferencia%</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </a>


                                            }
                                        </div>




                                    </div>

                                </div>
                            </div>


                            <div class="col-md-3">

                                <!-- /.box -->
                            </div>

                        </div>

                    }
                    else if (Model.Lista_Categoria.Count() > 0)
                    {
                        <div class="row">

                            <div class="col-md-3">

                            </div>


                            <div class="col-md-6">
                                <div class="box box-widget">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">CATEGORIAS</h3>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div id="cat_div" class="row margin">
                                            @foreach (var item in Model.Lista_Categoria)
                                            {
                                                <a data-url="/Venta/ListaModelos/@item.Categoria.id_clasificacion?tipo=2&id_cliente=@Model.id_cliente" href="javascript:{}">
                                                    <div class="col-md-12">
                                                        <div class="box box-widget widget-user-2">
                                                            <div class="widget-user-header bg-aqua">
                                                                <div class="widget-user-image">
                                                                    <img class="img-circle" src="@item.Categoria.logo" alt="@item.Categoria.descripcion">
                                                                </div>
                                                                <!-- /.widget-user-image -->
                                                                <h3 class="widget-user-username">@item.Categoria.descripcion</h3>
                                                                <h5 class="widget-user-desc"></h5>
                                                            </div>
                                                            <div class="box-footer no-padding">
                                                                <ul class="nav nav-stacked">
                                                                    <li><a href="#">Inventario <span class="pull-right badge bg-aqua-active">@item.Nro_Inventario</span></a></li>
                                                                    <li><a href="#">Preferencia <span class="pull-right badge bg-green">@item.Nivel_Preferencia%</span></a></li>

                                                                </ul>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </a>



                                            }



                                        </div>



                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>

                            <div class="col-md-3">
                                <!-- /.box -->
                            </div>

                        </div>

                    }
                    else
                    {
                        <div class="row">

                            <div class="col-md-3">

                            </div>


                            <div class="col-md-6">
                                <h1>No se posee estadisticas sucientes</h1>
                                <!-- /.box -->
                            </div>

                            <div class="col-md-3">
                                <!-- /.box -->
                            </div>

                        </div>


                    }



                </div>
                <!-- /.box-body -->
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <button type="button" class="btn btn-success btn-lg"><i class="fa fa-cart-plus"></i></button>
                        </div>
                        <!-- ./col -->
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">

                        </div>
                        <!-- ./col -->
                        <div class="col-xs-4 text-center">
                            <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-rotate-left"></i></button>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>


        </div>


    </div>





    <!-- /.box -->
</section>
<!-- /.content -->

<script src="~/Content/Template/plugins/MiniJava.js"></script>
<script>
    jQuery(window).load(function () {

        $('#marcas_div').slimScroll({
            height: '450px'
        });
        $('#cat_div').slimScroll({
            height: '450px'
        });

        $('#cat_div').on('click', 'a[data-url]', function () {

            var dataUrl = $(this).data('url');
            window.location.replace(dataUrl);
        });

        $('#marcas_div').on('click', 'a[data-url]', function () {

            var dataUrl = $(this).data('url');
            window.location.replace(dataUrl);
        });

    });


</script>