@{
    ViewBag.Title = "Inicio";
}
@using AutoPro.Models
@{


    UsuarioViewModel user = new UsuarioViewModel();
    if (HttpContext.Current.Session["User"] == null)
    {

        Response.Redirect(Url.Action("LogOffEvent", "Account"));

    }
    else
    {

        user = HttpContext.Current.Session["User"] as UsuarioViewModel;

    }

}

@if ((Request.IsAuthenticated) && (user.id_Usuario != 0))
{

    if (HttpContext.Current.Session["Mensaje"] != null)
    {

        MensajeViewModels mensaje = HttpContext.Current.Session["Mensaje"] as MensajeViewModels;
        {

            HttpContext.Current.Session["Mensaje"] = null;
        }

        <!-- Modal -->
        <div class="modal fade @mensaje.Tipo_Modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">@mensaje.Titulo</h4>
                    </div>
                    <div class="modal-body">
                        @mensaje.Cuerpo
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    }


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>TITULO DE MODULO</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active">TITULO DE MODULO</li>
        </ol>
    </section>
    
        <!-- Main content -->
    <section class="content">
      


    </section>

    <script src="~/Content/Template/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script>
    jQuery(window).load(function () {

        $('#myModal').modal('show');


    });



    </script>




}
else
{
    @Html.Action("Login", "Account")

}